/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-color: #000028;
  --bg-image: url(/images/cover-image-dark.png);
  --decorative-element-color: #ff0070;
  --menu-button-color:#ff0070;
  --menu-botton-color-hover:rgb(255 0 112 / 0.4);
  --text-color-title: #db00ff;
  --text-color-title-shadow: #ff0070;
  --text-color-title-content: #ff0070;
  --bg-color-title-block: #ff0070;
  --text-color-title-block: #000028;
  --text-color-block: #f1b2ce;
}

.theme-dark .page {
  background-color: var(--bg-color, #000028);
}

.theme-dark .header {
  padding-inline: var(--padding-project);
}

.theme-dark .decorated-zone::after {
  border-block-start: 2px solid var(--decorative-element-color);
  border-inline-end: 2px solid var(--decorative-element-color);
}

.theme-dark .decorated-zone::before {
  border-block-end: 2px solid var(--decorative-element-color);
  border-inline-start: 2px solid var(--decorative-element-color);
}

.theme-dark .header__theme-menu-button {
  color: var(--menu-button-color);
}

.theme-dark .title__text-decoration {
  text-shadow: 4px 4px 0 var(--text-color-title-shadow);
}

.theme-dark .title-decor {
  background-color: var(--bg-color-title-block);
}

.theme-dark .content__title {
  color: var(--text-color-title-content);
}

.theme-dark .content__block-paragraph {
  color: var(--text-color-block);
}

.theme-dark .content__link {
  text-shadow: 1.5px 1px 0 var(--text-color-title-shadow);
}

.theme-dark .content__link:focus {
  border: 1px solid var(--text-color-block);
}

.theme-dark .footer__title {
  text-shadow: 2px 2px 0 var(--text-color-title-shadow);
}

.theme-dark .footer::after {
  border-block-start: 2px solid var(--decorative-element-color);
  border-inline-end: 2px solid var(--decorative-element-color);
}

.theme-dark .footer::before {
  border-block-end: 2px solid var(--decorative-element-color);
  border-inline-start: 2px solid var(--decorative-element-color);
}
