/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-color: #FFF1F7;
  --bg-image: url(../images/cover-image-light.png);
  --decorative-element-color: #353430;
  --menu-button-color:#353430;
  --menu-botton-color-hover:rgb(50 49 45 / 0.4);
  --text-color-title: #FFC2E6;
  --text-color-title-shadow: #FF8DCB;
  --text-color-title-content: #353430;
  --bg-color-title-block: #FF8DCB;
  --text-color-title-block: #353430;
  --text-color-block: #353430;
}

.theme-light .decorated-element {
  display: none;
}

@media (prefers-color-scheme: light) {
  
  :root {
    --bg-color: #FFF1F7;
    --bg-image: url(../images/cover-image-light.png);
    --decorative-element-color: #353430;
    --menu-button-color:#353430;
    --menu-botton-color-hover:rgb(50 49 45 / 0.4);
    --text-color-title: #FFC2E6;
    --text-color-title-shadow: #FF8DCB;
    --text-color-title-content: #353430;
    --bg-color-title-block: #FF8DCB;
    --text-color-title-block: #353430;
    --text-color-block: #353430;
  }
}

